# Database Configuration
DB_URL=jdbc:postgresql://host.docker.internal:5432/itsec_testing
DB_USER=postgres
DB_PASS=

# JWT Configuration
JWT_SECRET=02fcc75f2c0d43a6a602350e0b15840cbaa961fdfcac4488547d4d1a8f59b9e6

# Email Configuration
EMAIL_PASSWORD=mwyenicowhbkirzs
